PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.mongodb.net
MONGODB_DB=wijutopia_db
# Ejemplo de MongoDB Atlas URL:
# MONGODB_URI=mongodb+srv://miUsuario:miPassword@cluster0.mongodb.net
JWT_SECRET=secret_desarrollo_local_wijutopia_123
CAPTCHA_KEY=8e9fb74ab1a89f81a7199c09930fca611a2f1b49e19dcaef18a66bc2df7f2931
CAPTCHA_IV=4b3d2b7e192a013e8d9a2a3bc5d6a7ef
ADMIN_EMAIL=admin@wijutopia.com
ADMIN_PASSWORD=WijuAdmin2026_TrujilloTcg!
FRONTEND_ORIGIN=http://localhost:3000
